* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif ;
    color: #303030;
}

.header {
    background: #2965f1;
    padding: 23px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    min-height: 1vh;
    background-color: #FAFAFF;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 150px;
}

.main-text {
    display: flex;
    flex-direction: column;
    max-width: 425px;
    padding-top: 422px ;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}
.text {
    font-weight: 700;
    font-size: 18px;
}

p.text {
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
}

.image {
    max-width: 715px;
    padding-top: 256px;
}

.section {
    fill: #fff;
    padding: 100px 0px;
    margin-left: 5px;
}

.info-wrapper {
    max-width: 1440;
    max-height: 1139;
    margin: 0 150px;
}

.select {
    background-repeat: no-repeat;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
}

h2.text {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 25px;
}

.ul-list-wrapper> ul{
   display: flex;
   flex-direction: column;
}

.list-wrapper> ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 60px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.skills-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.container {
    padding-top: 79px;
    max-width: 1140px;
    /*height: 305px;*/
}

.ol-wrapper{
    max-width: 570px;
    max-height: 162px;

}
.num-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 25px;
}

select {
    background: url("./assets/images/Arrow-down.svg") no-repeat right 15px bottom 50%;
    appearance: none;
    padding-left: 12px;
}

.option {
     font-weight: 400;
     font-size: 16px;
}

.list {
    list-style-image: url("./assets/images/Vector.svg");
    padding: 0px 20px;
}

.list-item {
    font-weight: 400;
    font-size: 16px;
}

.num-list {
    width: 670px;
    height: 57px;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.my-skill {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.label {
    width: 475px;
    height: 19px;
    background: #fff;
    font-size: 16px;
}

.input {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    height: 36px;
    font-size: 16px;
    padding-left: 12px;
}

.input:hover {
    border: 1px solid rgb(72, 127, 250);
}

.button {
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.button:hover {
    cursor: pointer;
    background-color: #487ffa;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin: 60px 0px;
    -top: 60px;
}

.table {
    border-collapse: collapse;
    width: 300px;
    height: 196px;
    font-size: 14px;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 12px 15px;
}

.table-title {
    font-weight: 400;
    font-size: 14px;
    padding: 12px 15px;
}

tr {
    border: 1px solid #95A1BB;
    width: 240px;
}

.footer {
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
}

.link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration-line: none;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-wrapper:hover {
    text-decoration: underline;
    transition: 0.2s;
}
