* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif ;
    color: #303030;
    overflow-x: hidden;
    min-width: 375px;
}

.header {
    background: #2965f1;
    padding: 23px 0;
}

.header-wrapper {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.section-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0px;
    width: 100%;
    background-color: #FAFAFF;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 150px;
    gap: 60px;
     /*проблемнный падинг*/
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
    width: 100%;
}
.text {
    font-weight: 700;
    font-size: 18px;
}

p.text {
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
}

.image {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 60px 0px;
    margin-left: 5px;
    width: 100%;
}

.info-wrapper {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    /*проблемнные падинги*/
}

.select {
    background-repeat: no-repeat;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    max-width: 150px;
    height: 36px;
}

h2.text {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 25px;
}

.ul-list-wrapper> ul{
   display: flex;
   flex-direction: column;
}

.list-wrapper> ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 60px;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.skills-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.container {
    width: 100%;
}

.ol-wrapper > ol{
    width: 100%;

}
.num-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 25px;
}

select {
    background: url("./assets/images/Arrow-down.svg") no-repeat right 15px bottom 50%;
    appearance: none;
    padding-left: 12px;
}

.option {
     font-weight: 400;
     font-size: 16px;
}

.list {
    list-style-image: url("./assets/images/Vector.svg");
    padding: 0px 20px;
}

.list-item {
    font-weight: 400;
    font-size: 16px;
}

.num-list {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.my-skill {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.label {
    width: 100%;
    background: #fff;
    font-size: 16px;
}
.input {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    font-size: 16px;
    padding-left: 12px;
}

.input:hover {
    border: 1px solid rgb(72, 127, 250);
}

.button {
    border: none;
    border-radius: 5px;
    min-width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.button:hover {
    cursor: pointer;
    background-color: #487ffa;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin: 60px 0px;
}

.table {
    border-collapse: collapse;
    max-width: 100%;
    height: 196px;
    font-size: 14px;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

.sub-title {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 12px 15px;
}

.table-title {
    font-weight: 400;
    font-size: 14px;
    padding: 12px 15px;
}

tr {
    border: 1px solid #95A1BB;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background: rgba(163, 167, 255, 0.3);
    padding: 26px 0;
}

.link {
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration-line: none;
}

.footer-wrapper:hover {
    text-decoration: underline;
    transition: 0.2s;
}

@media screen and (min-width: 375px) {

    .section-main {
        padding: 30px 0px 60px;
    }

    .title {
        font-size: 36px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 768px) {

    .main-wrapper {
        display: flex;
        flex-direction: column-reverse;

    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 560px;
    }

    .ol-wrapper {
        padding-top: 60px;
    }

    .main-wrapper,
    .info-wrapper  {
        padding-left: 20px;
        padding-right: 20px;
    }

    .image {
        max-width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .table {
        max-width: 100%;
    }

    .header-wrapper {
        padding-left: 20px;
    }
}



